<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,476},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
            <key>shock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,239},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
            <key>thinking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
            <key>weisuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
            <key>yansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,245}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{235,245}}</string>
                <key>sourceSize</key>
                <string>{235,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dia.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae0aeb142f40c9b91b4a3b85b0baa5f:1/1$</string>
            <key>textureFileName</key>
            <string>dia.png</string>
        </dict>
    </dict>
</plist>
