<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,263},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,240},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,202},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,185},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,300},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{40,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,61}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,347},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,325},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,303},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{37,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,62}}</string>
                <key>sourceSize</key>
                <string>{37,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,277},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,113},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,263},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,344},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,363},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,363},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,77},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,39},{28,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,72}}</string>
                <key>sourceSize</key>
                <string>{28,72}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,39},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{35,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,73}}</string>
                <key>sourceSize</key>
                <string>{35,73}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,226},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,38},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,122},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,147},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{34,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{34,74}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,78}}</string>
                <key>sourceSize</key>
                <string>{29,78}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{33,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{33,65}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,214},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>Heroes of Might and Magic 2-农民_爱给网_aigei_com_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,171},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FARMER.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad9a52b0ca77b7f582ce45d72b41a4f:1/1$</string>
            <key>textureFileName</key>
            <string>FARMER.png</string>
        </dict>
    </dict>
</plist>
